body {
    font-family: Arial, sans-serif;
    width: 250px;
    padding: 10px;
    text-align: center;
}
h2 {
    font-size: 18px;
    color: #333;
}
@font-face {
    font-family: 'OpenDyslexic';
    src: url(OpenDyslexic-Regular.woff);
}
  